html(lang="es")
  head
    meta(charset="UTF-8")
    title Vertical timeline time intervals
  body
    .container
      ul
        li
          span
          div
            .title Codify
            .info Let&apos;s make coolest things in css
            .type Prensetation
          |  
          span.number
            span 10:00
            |  
            span 12:00
        li
          div
            span
            .title Codify
            .info Let&apos;s make coolest things in javascript
            .type Prensetation
          |  
          span.number
            span 13:00
            |  
            span 14:00
        li
          div
            span
            .title Codify
            .info Let&apos;s make coolest things in css
            .type Review
          |  
          span.number
            span 15:00
            |  
            span 17:45